body{

margin:0;

font-family:Arial;

background:
linear-gradient(
135deg,
#4f46e5,
#7c3aed,
#ec4899,
#06b6d4
);

background-size:400% 400%;

animation:bgmove 12s ease infinite;

color:white;

min-height:100vh;

}

@keyframes bgmove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

.container{

width:1200px;

margin:auto;

padding:30px;

text-align:center;

}

input,
textarea{

padding:12px;

border:none;

border-radius:12px;

width:320px;

background:white;

}

button{

padding:14px;

border:none;

border-radius:12px;

background:
linear-gradient(
90deg,
#3b82f6,
#ec4899
);

color:white;

font-weight:bold;

cursor:pointer;

}

button:hover{

transform:scale(1.05);

}

#graph{

position:relative;

height:650px;

margin-top:30px;

background:

rgba(
255,
255,
255,
0.15
);

backdrop-filter:

blur(20px);

border-radius:25px;

border:

1px solid rgba(
255,
255,
255,
0.2
);

}

.node{

width:90px;

height:90px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

position:absolute;

font-weight:bold;

box-shadow:

0 0 25px
rgba(
255,
255,
255,
0.5
);

transition:0.3s;

}

.node:hover{

transform:
scale(1.1);

}

#slots,
#legend{

margin-top:25px;

background:

rgba(
255,
255,
255,
0.1
);

padding:20px;

border-radius:20px;

backdrop-filter:

blur(15px);

}